@import "../../variables.scss";

.card-body {
  color: $primary-color;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-genres {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-content: space-evenly;
}

.movie-director {
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-content: space-evenly;
}


