@import "variables.scss";

html {
  height: 100%;
  background-color: $primary-color;
}

body {
  background-color: $primary-color;
  height: 100%;
}

.app-container {
  background-color: $primary-color;
  color: black;
  height: 100%;
}